#productosGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto{
    border: 1px solid #000000;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
